doctype html
html
  head
    meta(name='viewport', content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='/css/style.css')
    title My App
  body
    script(src='/app.js')
